# INF1032 - Introdução à Ciência dos Dados - 2018.1
### Alunos: 
- Leonardo Edelman Wajnsztok - 1312737
- Samuel Bastos - 1311416

## Exercício 3

Reconstruir a tabela no finao do exemplo sobre a Premier League do notebook 00 - Intro to Pandas

In [1]:
import pandas as pd
import numpy as np

In [118]:
premierLeague2016_2017Raw = pd.read_csv('http://www.football-data.co.uk/mmz4281/1617/E0.csv')
premierLeague2016_2017Raw.shape

(380, 65)

In [119]:
premierLeague2016_2017Raw.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50

In [120]:
pl = premierLeague2016_2017Raw.loc[ : , 'Date':'FTAG']
pl.Date = pd.to_datetime(pl.Date)
pl.head()

        Date        HomeTeam    AwayTeam  FTHG  FTAG
0 2016-08-13         Burnley     Swansea     0     1
1 2016-08-13  Crystal Palace   West Brom     0     1
2 2016-08-13         Everton   Tottenham     1     1
3 2016-08-13            Hull   Leicester     2     1
4 2016-08-13        Man City  Sunderland     2     1

In [121]:
pl.insert(0,'Match', (range(1, len(pl) + 1)))
pl.head()

   Match       Date        HomeTeam    AwayTeam  FTHG  FTAG
0      1 2016-08-13         Burnley     Swansea     0     1
1      2 2016-08-13  Crystal Palace   West Brom     0     1
2      3 2016-08-13         Everton   Tottenham     1     1
3      4 2016-08-13            Hull   Leicester     2     1
4      5 2016-08-13        Man City  Sunderland     2     1

In [133]:
pl['Location'] = pl['HomeTeam']

In [159]:
id_vars=['Match', 'Date', 'Location', 'HomeTeam', 'AwayTeam']
value_vars=['FTHG', 'FTAG']

plwide = pd.melt(pl, id_vars=id_vars, value_vars=value_vars, var_name='GoalPlace', value_name='GoalNum')
teamSeries = plwide.apply(lambda r: r['HomeTeam'] if r['GoalPlace'] == 'FTHG' else r['AwayTeam'], axis=1)
plwide.insert(3, 'Team', teamSeries)
plwide = plwide.sort_values(['Match', 'GoalPlace'], ascending=[True, False]).reset_index()
plwide = plwide.drop(['HomeTeam', 'AwayTeam', 'GoalPlace', 'index'], axis=1)
plwide.head()

   Match       Date        Location            Team  GoalNum
0      1 2016-08-13         Burnley         Burnley        0
1      1 2016-08-13         Burnley         Swansea        1
2      2 2016-08-13  Crystal Palace  Crystal Palace        0
3      2 2016-08-13  Crystal Palace       West Brom        1
4      3 2016-08-13         Everton         Everton        1